* , *::after, *::before {
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    color: #1A212F;
    margin: 0;
    padding: 0;
}

a {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s;
}

p {
    margin: 10px 0;
}

h1, h2, h3, h4 {
    margin: 5px 0 20px;
}

.list-reset {
    list-style: none;
    margin: 0;
    padding: 0;
}

.color-black {
    color: #1A212F;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-logo {
    margin: 11px 0;
    line-height: 1;
}

.menu-list {
    display: flex;
}

.list-item {
    padding: 10px 15px;
    color: #1A212F;
}

.list-item:last-child {
    padding-right: 0;
}

.list-item  .item-link { 
    font-weight: 500;
    font-size: 16px;
    color: #1A212F;
}

.burger-menu {
    display: none;
}

.burger-menu .menu-item  {
    display: none;
}

.menu-item.menu-active {
    display: block;
}

.menu-icon {
    font-size: 20px;
    position: relative;
}

.burger-menu .menu-list {
    position: absolute;
    display: block;
    right: 4px;
    background-color: rgba(255, 255, 255, 0.82);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33);
}

.burger-menu .list-item {
    display: block;
    padding: 10px 15px;
}

.banner {
    padding: 149px 0 153px;
    background-size: cover;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-image: url("static/banner.jpg");
}

.banner-content {
    padding-left: 100px;
}

.button {
    box-shadow: 0px 5px 25px rgba(26, 33, 47, 0.1);
    border-radius: 25px;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 9px 0 27px;
}

.button-white {
    background-color: #FFFEFD;
}

.button-orange {
    background-color: #FF7236;
    color: #FFFFFF
}

.button:hover {
    cursor: pointer;
    transition: all 0.5s;
}

.button-content {
    font-family: "Lato", sans-serif;
    padding-right: 19px;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
}

.banner-location {
    margin: 0;
}

.banner-title {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 11px;
    font-size: 64px;
    line-height: 1;
}

.banner-info {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 34px;
}

.box-shadow {
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
    border-radius: 8px;
}

.advantages {
    background: url("static/paw-bg.svg") no-repeat 100% 5px;
    padding: 108px 0 70px;
}

.advantages-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}

.advantages-card {
    max-width: 370px;
    width:calc( ( 100% - 20px ) / 3 );
    padding: 30px;
    margin-top: 15px;
}

.main-title {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;
}

.advantages-title {
    margin-top: 24px;
    margin-bottom: 45px;
}

.card-image {
    width: 91px;
    height: 91px;
    margin-bottom: 21px;
}

.card-title {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 1.2;
    margin-bottom: 10px;
}

.card-info {
    font-size: 16px;
    line-height: 1.4;
    margin: 0;
}

.rooms {
    background: url("static/fish-bg.svg") no-repeat -83px 84px;
    padding: 60px 0 70px;
}

.rooms-wrapper {
    position: relative;
    padding: 10px 60px 40px 70px;
}

.slider-card {
    height: 404px;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    justify-content: flex-end;
    background-size: 58% 100%;
    height: 404px;
    padding-right: 10px;
    background-image: url(static/rectangle.png);
}

.slider-content {
    max-width: 500px;
    width: 100%;
    padding: 30px 100px 40px;
    margin-left: auto;
    background-color: #ffffff;
}

.slider-list {
    padding: 0px 0 24px;
}

.slider-list-item {
    position: relative;
    padding-top: 11px;
    padding-left: 21px;
}

.slider-list-item::before {
    position: absolute;
    content: ' ';
    left: 0;
    bottom: 5px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #FAC663;
}

.reviews {
    background: url("static/paw2-bg.svg") no-repeat 100% 0;
    padding: 66px 0 70px;
}

.reviews-card {
    padding: 35px;
}

.card-symbol {
    font-weight: 500;
    font-size: 72px;
    color: #FAC663;
    line-height: 1;
    margin: -4px 0 0;
}

.card-content {
    padding-left: 8px;
}

.review-info {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 300;
    color: #848484;
    padding-top: 7px;
}

.autor-name, .date {
    margin-bottom: 0;
}

.slick-dots {
    bottom: -73px
}

.slick-dots li {
    margin: 0px 2px;
}

.slick-dots li button:before {
    font-size: 14px;
}

.slick-dots li.slick-active button:before {
    color: #FAC663;
}

.slick-dots li button:before {
    color: #E1E1E1;
}

.wrapper-slider {
    position: relative;
    padding-bottom: 15px;
}

.scroll {
    position: absolute;
    z-index: 5;
    width: 36px;
    height: 36px;
    color: #FAC663;
    border-radius: 50%;
    text-align: center;
    line-height: 36px;
    font-size: 16px;
    bottom: -10px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
}

.scroll.right {
    right: 6%;
}

.scroll.left {
    right: 10%;
}

.scroll:hover {
    cursor: pointer;
    transition: all 0.3s;
}

.slick-initialized .slick-slide {
    display: flex;
}

.reviews .slick-initialized .slick-slide {
    margin:20px 30px 20px 0;
    max-width: 470px;
    width: 100%;
}

.reviews .slick-list.draggable {
    padding-left: 15px;
    margin-left: -15px;
}

.reviews-container {
    margin-left: calc(50% - 585px);
}

.reviews-title-block {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.reviews-title {
    margin-bottom: 37px;
}

.reviews .slick-dots {
    bottom: -55px;
}

.about-us {
    display: flex;
    margin-top: 54px;
}

.contacts {
    max-width: 40%;
    width: 100%;
    background-color:#FAC663;
    padding: 57px 0 70px;
    display: flex;
    justify-content: flex-end;
}

.map {
    max-width: 60%;
    width: 100%;
}

.contacts-wrapper {
    /* padding-left: 110px; */
    padding-right: 117px;
}

.contact-title {
    text-align: start;
    margin-bottom: 38px;
}

.contact-small-title {
    font-size: 16px;
    margin: 27px 0 8px;
    line-height: 1;
}

.social-icon {
    display: flex;
}

.icon {
    margin-right: 20px;
}

.card-info:last-of-type  .contact-small-title{
    margin-bottom: 14px;
}

.address {
    font-style: normal;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 115px;
}

.footer .menu-list {
    flex-wrap: wrap;
}

.top-footer {
    border-bottom: 1px solid #EFEFEF;
}

.copyright {
    font-size: 12px;
    color: #8F8F8F;
}

.copyright-info {
    margin: 17px 0;
}

@media screen and ( max-width: 1200px ) { 
    .reviews-container {
        margin-left: 0;
        padding-left: 15px;
    }
}

@media screen and ( max-width: 960px ) {
    .contacts {
        justify-content: flex-start;
    }

    .contacts-wrapper {
        padding-left: 45px;
        padding-right: 0;
    }

    .map {
        max-width: 53%;
    }

    .contacts {
        max-width: 47%;
    }
}

@media screen and ( max-width: 768px ) {
    .banner {
        padding: 140px 0 540px;
        background-image: url(static/bg.png);
    }

    .banner-content {
        text-align: center;
        padding-left: 0
    }

    .button-white {
        margin-left: auto;
        margin-right: auto;
    }

    .advantages {
        background-position: 109% 5px;
        background-size: 300px 257px;
        padding: 88px 0 60px;
    }

    .rooms {
        background-size: 339px 105px;
        background-position: 0px 74px;
        padding: 55px 0 60px;
    }

    .reviews {
        background-size: 227px 194px;
        background-position: 102% 0px;
        padding: 55px 0 60px;
    }

    .about-us {
        margin-top: 44px;
    }

    .advantages-card {
        width: calc( ( 100% - 20px ) / 2 );
    }

    .card-image {
        width: 75px;
        height: 75px;
    }

    .card-title {
        font-size: 20px;
    }

    .card-info {
        font-size: 15px;
    }

    div.scroll {
        display: none !important;
    }

    .rooms-wrapper {
        padding: 10px 20px 40px 30px;
    }

    .reviews .slick-initialized .slick-slide {
        max-width: 442px;
    }

    .contact-small-title {
        font-size: 15px;
    }

    .footer-container {
        padding: 0 15px;
    }

    .slider-content {
        max-width: 345px;
        padding: 30px 38px 40px 40px;
    }

    .slider-card {
        height: 326px;
    }
}

@media screen and (max-width: 680px) {
    .contacts-wrapper {
        padding-left: 15px;
    }
}

@media screen and ( max-width: 576px ) { 
    .logo-icon {
        width: 46px;
        height: 38px;
    }

    .burger-menu {
        display: block;
    }

    .header .main-menu {
        display: none;
    }

    .banner {
        padding: 50px 0 230px;
    }
    .banner-location {
        font-size: 12px;
    }
    .banner-title {
        font-size: 44px;
    }
    .banner-info {
        font-size: 16px;
    }

    .card-image {
        width: 60px;
        height: 60px;
    }

    .card-title {
        font-size: 18px;
    }

    .main-title {
        font-size: 28px;
    }

    .rooms-wrapper {
        padding: 10px 0 40px;
    }

    .about-us {
        display: block;
    }

    .contacts {
        max-width: 100%;;
        padding: 35px 0 40px;
    }

    .map {
        max-width: 100%;
        height: 300px;
    }

    .contacts-wrapper {
        padding-left: 15px;
    }

    .footer-content {
        display: block;
    }

    .footer .list-item {
        padding: 10px 35px 10px 0;
    }

    .footer .menu-list {
        padding-bottom: 20px;
    }

    .copyright {
        display: block;
    }

    .copyright-info {
        padding: 12px 0;
        margin: 0;
    }

    .copyright-info:last-of-type {
        padding: 5px 0 27px;
    }

    .slider-card {
        background-size: 100% 50%;
        height: auto;
        padding-bottom: 20px;
    }

    .slider-content {
        max-width: 100%;
        padding: 25px;
        margin-top: 190px;
    }

    .advantages-title {
        margin-bottom: 35px;
    }

    .reviews-title {
        margin-bottom: 27px;
    }

    .main-title {
        margin-bottom: 40px;
    }

    .rooms .box-shadow {
        border-radius: 0 0 8px 8px;
    }

    .slider-card {
        padding-right: 0;
    }
}

@media screen and ( max-width: 500px ) { 
    .advantages-card {
        width: 100%;
    }

    .advantages-content {
        justify-content: center;
    }

    .reviews .slick-initialized .slick-slide {
        max-width: 290px;
    }

    .advantages {
        background: url(static/paw-bg.svg) no-repeat 100% 54px;
        background-size: 116px 99px;
        padding: 40px 0 35px;
    }

    .advantages-title {
        margin-bottom: 25px;
    }

    .rooms {
        background-size: 150px 46px;
        background-position: 0px 65px;
        padding: 30px 0 35px;
    }

    .reviews {
        background-size: 112px 95px;
        background-position: 105% 21px;
        padding: 30px 0 35px;
    }

    .about-us {
        margin-top: 27px;
    }

    .reviews-title {
        margin-bottom: 17px;
    }

    .main-title {
        margin-bottom: 5px;
    }

    .rooms-wrapper {
        padding: 20px 0 20px;
    }

    .reviews-card {
        padding: 25px;
    }

    .review-info {
        display: none;
    }
}