* {
    padding: 0;
    margin: 0;
}

body {
    max-width: 1366px;
    margin-right: auto;
    margin-left: auto;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    color: #1A212F;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.list-reset {
    list-style: none;
    margin: 0;
    padding: 0;
}

.color-black {
    color: #1A212F;
}

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 76px;
}

.menu-list {
    display: flex;
}

.list-item {
    padding-left: 30px;
    color: #1A212F;
}

.list-item  .item-link { 
    font-weight: 500;
    font-size: 16px;
    color: #1A212F;
}

.baner-section {
    position: relative;
    width: 100%;
    height: 504px;
    background: linear-gradient(89.92deg, rgba(240, 201, 113, 0.43) 40.86%, rgba(240, 201, 113, 0) 56.67%), linear-gradient(82.24deg, #F0C971 2.26%, rgba(240, 201, 113, 0) 52.92%), url("static/main-cat.png") no-repeat 50%;
}

.baner-content {
    position: absolute;
    top: 25%;
    left: 15%;
}

.button {
    background: #FFFEFD;
    box-shadow: 0px 5px 25px rgba(26, 33, 47, 0.1);
    border-radius: 25px;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 9px 0 30px;
}

.button:hover {
    cursor: pointer;
    transition: all 0.5s;
}

.button-content {
    padding-right: 20px;
    font-weight: 500;
    font-size: 16px;
}

.baner-title {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 62px;
    padding-bottom: 25px;
    padding-top: 15px;
}

.baner-info {
    font-weight: 500;
    font-size: 20px;
    padding-bottom: 40px;
}