* , *::after, *::before {
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    color: #1A212F;
    margin: 0;
    padding: 0;
}

a {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s;
}

p {
    margin: 10px 0;
}

h1, h2, h3, h4 {
    margin: 5px 0 20px;
}

.list-reset {
    list-style: none;
    margin: 0;
    padding: 0;
}

.color-black {
    color: #1A212F;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 76px;
}

.menu-list {
    display: flex;
}

.list-item {
    padding: 10px 15px;
    color: #1A212F;
}

.list-item:last-child {
    padding-right: 0;
}

.list-item  .item-link { 
    font-weight: 500;
    font-size: 16px;
    color: #1A212F;
}

.banner {
    padding: 149px 0 153px;
    background-size: cover;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-image: url("static/banner.jpg");
}

.banner-content {
    padding-left: 100px;
}

.button {
    box-shadow: 0px 5px 25px rgba(26, 33, 47, 0.1);
    border-radius: 25px;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 9px 0 27px;
}

.button-white {
    background-color: #FFFEFD;
}

.button-orange {
    background-color: #FF7236;
    color: #FFFFFF
}

.button:hover {
    cursor: pointer;
    transition: all 0.5s;
}

.button-content {
    font-family: "Lato", sans-serif;
    padding-right: 19px;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
}

.banner-location {
    margin: 0;
}

.banner-title {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 11px;
    font-size: 64px;
    line-height: 1;
}

.banner-info {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 34px;
}

.box-shadow {
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
    border-radius: 8px;
}

.advantages {
    background: url("static/paw-bg.svg") no-repeat 100% 5px;
    padding: 108px 0 70px;
}

.advantages-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}

.advantages-card {
    max-width: 370px;
    width:calc( ( 100% - 20px ) / 3 );
    padding: 30px;
    margin-top: 15px;
}

.main-title {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;
}

.advantages-title {
    margin-top: 24px;
    margin-bottom: 45px;
}

.card-image {
    width: 91px;
    height: 91px;
    margin-bottom: 21px;
}

.card-title {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 1.2;
    margin-bottom: 10px;
}

.card-info {
    font-size: 16px;
    line-height: 1.4;
    margin: 0;
}

.rooms {
    background: url("static/fish-bg.svg") no-repeat -83px 84px;
    padding: 60px 0 70px;
}

.rooms-wrapper {
    position: relative;
    padding: 10px 70px 40px;
}

.slider-card {
    height: 404px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-size: 600px 404px;
    background: url("static/rectangle.png") no-repeat 0 0;
}

.slider-content {
    max-width: 500px;
    width: 100%;
    padding: 30px 100px 40px;
    margin-left: auto;
}

.slider-list {
    padding: 0px 0 24px;
}

.slider-list-item {
    position: relative;
    padding-top: 11px;
    padding-left: 21px;
}

.slider-list-item::before {
    position: absolute;
    content: ' ';
    left: 0;
    bottom: 5px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #FAC663;
}

.reviews {
    background: url("static/paw2-bg.svg") no-repeat 100% 0;
    padding: 66px 0 70px;
}

.reviews-card {
    padding: 35px;
}

.card-symbol {
    font-weight: 500;
    font-size: 72px;
    color: #FAC663;
    line-height: 1;
    margin: -4px 0 0;
}

.card-content {
    padding-left: 8px;
}

.review-info {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 300;
    color: #848484;
    padding-top: 7px;
}

.autor-name, .date {
    margin-bottom: 0;
}

.slick-dots {
    bottom: -73px
}

.slick-dots li {
    margin: 0px 2px;
}

.slick-dots li button:before {
    font-size: 14px;
}

.slick-dots li.slick-active button:before {
    color: #FAC663;
}

.slick-dots li button:before {
    color: #E1E1E1;
}

.wrapper-slider {
    position: relative;
    padding-bottom: 15px;
}

.scroll {
    position: absolute;
    z-index: 5;
    width: 36px;
    height: 36px;
    color: #FAC663;
    border-radius: 50%;
    text-align: center;
    line-height: 36px;
    font-size: 16px;
    bottom: -10px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
}

.scroll.right {
    right: 6%;
}

.scroll.left {
    right: 10%;
}

.scroll:hover {
    cursor: pointer;
    transition: all 0.3s;
}

.slick-initialized .slick-slide {
    display: flex;
}

.reviews .slick-initialized .slick-slide {
    margin:20px 30px 20px 0;
    max-width: 470px;
    width: 100%;
}

.reviews .slick-list.draggable {
    padding-left: 15px;
    margin-left: -15px;
}

.reviews-container {
    margin-left: calc(50% - 585px);
}

.reviews-title-block {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.reviews-title {
    margin-bottom: 37px;
}

.reviews .slick-dots {
    bottom: -55px;
}

.about-us {
    /* max-width: 100%; */
    display: flex;
    margin-top: 54px;
}

.contacts {
    max-width: 40%;
    width: 100%;
    background-color:#FAC663;
    padding: 57px 0 70px;
}

.map {
    max-width: 60%;
    width: 100%;
}

.contacts-wrapper {
    padding-left: 110px;
}

.contact-title {
    text-align: start;
    margin-bottom: 38px;
}

.contact-small-title {
    font-size: 16px;
    margin: 27px 0 8px;
    line-height: 1;
}

.social-icon {
    display: flex;
}

.icon {
    margin-right: 20px;
}

.card-info:last-of-type  .contact-small-title{
    margin-bottom: 14px;
}

.address {
    font-style: normal;
}

.footer-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 115px;
}

.top-footer {
    border-bottom: 1px solid #EFEFEF;
}

.copyright {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #8F8F8F;
}

.copyright-info {
    margin: 17px 0;
}