* , *::after, *::before {
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    color: #1A212F;
    margin: 0;
    padding: 0;
}

a {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s;
}

p {
    margin: 10px 0;
}

h1, h2, h3, h4 {
    margin: 5px 0 20px;
}

.list-reset {
    list-style: none;
    margin: 0;
    padding: 0;
}

.color-black {
    color: #1A212F;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

.small-container {
    max-width: 1000px;
}

.body-hidden {
    overflow: hidden
}

.header {
    padding: 11px 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-logo {
    line-height: 1;
    z-index: 1;
}

.menu-list {
    display: flex;
}

.list-item:last-child .item-link{
    padding-right: 0;
}

.item-link { 
    font-weight: 500;
    font-size: 16px;
    color: #1A212F;
    padding: 10px 15px;
}

.burger-menu {
    display: none;
}

.burger-menu .menu-item  {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    background-color: #FAC663;
    padding-top: 86px;
    
}

.menu-icon {
    width: 22px;
    height: 14px;
    position: relative;
    transform: rotate(0deg);
    cursor: pointer;
}

.menu-icon span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #1A212F;
    border-radius: 2px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.menu-icon span:nth-child(1) {
    top: 0px;
}

.menu-icon span:nth-child(2),.menu-icon span:nth-child(3) {
    top: 7px;
}

.menu-icon span:nth-child(4) {
    top: 14px;
}

.menu-icon.burger-active span:nth-child(1) {
    top: 7px;
    width: 0%;
    left: 50%;
}

.menu-icon.burger-active span:nth-child(2) {
    transform: rotate(45deg);
}

.menu-icon.burger-active span:nth-child(3) {
    transform: rotate(-45deg);
}

.menu-icon.burger-active span:nth-child(4) {
    top: 7px;
    width: 0%;
    left: 50%;
}

.burger-menu .item-link {
    font-family: "Rubik", sans-serif;
    font-size: 20px;
}

.burger-menu .social-link { 
    margin-right: 10px;
    margin-left: 10px;
}

.burger-menu .social-item:first-of-type .social-link {
    margin-left: 0px;
}

.burger-menu .social-item:last-of-type .social-link {
    margin-right: 0px;
}

.burger-menu  .list-item-number {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    color: #1A212F;
    padding-top: 24px;
    padding-bottom: 21px;
    padding-left: 15px;
}

.burger-menu .social-icon {
    width: 24px;
}

.contact-link:hover {
    color: #FFFFFF;
    transition: all 0.3s;
}

.burger-menu .icon {
    width: 24px;
    margin-right: 18px;
}

.menu-active .item-link:hover, .list-item-number:hover {
    color: #ffffff;
    transition: all 0.3s;
}

.rooms-container .main-title {
    margin: 5px 0 30px;
}

.menu-item.menu-active {
    display: block;
}

.social {
    display: flex;
    padding-left: 15px;
}

.menu-icon {
    font-size: 20px;
    position: relative;
    z-index: 1;
}

.contact-link {
    color: #1A212F;
    margin: 0;
    padding-bottom: 3px;
}

.burger-menu .list-item {
    display: block;
}

.burger-menu .item-link {
    padding: 8px 15px 7px;
}

.item-link:hover {
    color: #FAC663;
    transition: all 0.3s;
}

.banner {
    padding: 149px 0 153px;
    background-size: cover;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-image: url("../images/banner.jpg");
}

.banner-content {
    padding-left: 100px;
}

.button {
    box-shadow: 0px 5px 25px rgba(26, 33, 47, 0.1);
    border-radius: 25px;
    height: 50px;
    display: flex;
    align-items: center;
    border: none;
    padding: 0 5px 0 27px;
}

.button:focus {
    outline: none;
}

.button-white {
    background-color: #FFFEFD;
}

.button-orange {
    background-color: #FF7236;
    color: #FFFFFF
}

.button:hover {
    cursor: pointer;
    box-shadow: 0px 3px 12px rgba(173, 152, 143, 1);
    transition: all 0.3s;
}

.button-white:hover {
    color: #FF7236;
}

.button-orange:hover {
    color: black;
}

button:active {
    border-style: solid;
}

.button-content {
    font-family: "Lato", sans-serif;
    padding-right: 19px;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
}

.banner-location {
    margin: 0;
}

.banner-title {
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    margin-top: 2px;
    margin-bottom: 11px;
    font-size: 62px;
    line-height: 1;
}

.banner-info {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 35px;
}

.box-shadow {
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
    border-radius: 8px;
}

.small-box-shadow {
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(208, 208, 208, 0.25);
    border-radius: 8px;
}

.advantages {
    background: url("../images/paw-bg.svg") no-repeat 100% 5px;
    padding: 107px 0 66px;
}

.advantages-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.advantages-card {
    width: calc( ( 100% - 60px ) / 3 );
    padding: 30px 30px 24px;
    margin-top: 19px;
    min-height: 321px;
}

.main-title {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;
}

.advantages-title {
    margin-top: 24px;
    margin-bottom: 43px;
}

.card-image {
    width: 91px;
    height: 91px;
    margin-bottom: 22px;
}

.card-title {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 1.2;
    margin-bottom: 9px;
}

.card-info {
    font-size: 16px;
    line-height: 1.4;
    margin: 0;
}

.about-us .card-info {
    font-size: 16px;
    line-height: 1;
    margin: 0;
}

.schedule {
    line-height: 1;
    margin-bottom: 0;
    padding-bottom: 3px;
}

.rooms {
    background: url("../images/fish-bg.svg") no-repeat -83px 84px;
    padding: 60px 0 70px;
}

.rooms-wrapper {
    position: relative;
    padding: 0 50px 0 70px;
}

.slider-card {
    display: flex;
}

.slider-image {
    width: 57.05555%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/rectangle.png");
    border-radius: 10px;
    height: 404px;
}

.slider-card:focus {
    outline: none;
}

.slick-slide:focus {
    outline: none;
}

.slider-content {
    position: absolute;
    max-width: 500px;
    padding: 30px 100px 40px;
    right: 0px;
    background-color: #ffffff;
    transform: translateX(-20px);
}

.slider-list {
    padding: 0px 0px 24px;
}

.slider-list-item {
    position: relative;
    padding-top: 11px;
    padding-left: 21px;
}

.slider-list-item::before {
    position: absolute;
    content: ' ';
    left: 0;
    top: 15px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #FAC663;
}

.reviews {
    background: url("../images/paw2-bg.svg") no-repeat 100% 0;
    padding: 63px 0 70px;
}

.reviews-card {
    padding: 32px 35px 30px 70px;
}

.card-content::before {
    position: absolute;
    content: '“';
    left: -33px;
    top: -2px;
    font-weight: 500;
    font-size: 72px;
    color: #FAC663;
    line-height: 1;
}

.card-content {
    position: relative;
}

.review-info {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 300;
    color: #848484;
    padding-top: 7px;
}

.autor-name, .date {
    margin-bottom: 0;
}

.date {
    margin-bottom: 0;
    margin-top: 10px;
}

.slick-dots {
    position: static;
}

.slick-dots li {
    margin: 0 11px 0 -7px;
}

.slick-dots li button:before {
    font-size: 14px;
}

.slick-dots li.slick-active button:before {
    color: #FAC663;
    opacity: 1;
}

.slick-dots li button:before {
    color: #E1E1E1;
    opacity: 1;
}

.slick-dotted.slick-slider {
    margin-bottom: 49px;
}

.wrapper-slider {
    position: relative;
    padding-bottom: 15px;
}

.scroll {
    position: absolute;
    z-index: 5;
    bottom: 0;
    width: 36px;
    height: 36px;
    color: #FF7236;
    border-radius: 50%;
    text-align: center;
    line-height: 36px;
    font-size: 14px;
    bottom: -7px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.25);
}

.scroll.right {
    right: 68px;
}

.scroll.left {
    right: 116px;
}

.scroll:hover {
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 0px 3px 12px rgba(173, 152, 143, 1);
}

.rooms .slick-initialized .slick-slide {
    position: relative;
    display: flex;
    align-items: center;
}

.reviews .slick-initialized .slick-slide {
    display: flex;
    margin:20px 15px 20px 15px;
    max-width: 470px;
    height: inherit;
}

.reviews .slick-track {
    display: flex;
}

.reviews .slick-list.draggable {
    padding-left: 15px;
    margin-left: -15px;
}

.reviews-container {
    margin-left: calc(50% - 585px);
}

.pos-relative {
    position: relative;
}

.reviews .slick-dotted.slick-slider {
    margin-bottom: 14px;
}

.reviews .slick-dots li {
    margin: 0 2px 0 0;
}

.reviews .scroll.left {
    right: 132px;
}

.reviews .scroll.right {
    right: 83px;
}

.reviews-title {
    margin-bottom: 40px;
}

.reviews .slick-dots {
    bottom: -55px;
}

.about-us {
    margin-top: 77px;
    position: relative;
    background-color:#FAC663;
}

.contacts {
    max-width: 40.55555%;
    padding: 56px 0 68px;
}

.contacts-wrapper {
    max-width: 300px;
}

.top-footer {
    padding: 11px 0 10px;
}

.map-content {
    max-width: 59.55555%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-left: auto;
}

.map {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.contact-title {
    text-align: start;
    margin-bottom: 38px;
}

.contact-small-title {
    font-size: 16px;
    margin: 27px 0 12px;
    line-height: 1;
}

.social-icon {
    display: flex;
}

.social-link + .social-link { 
    margin-left: 20px;
}

.card-info:last-of-type  .contact-small-title{
    margin-bottom: 14px;
}

.address {
    line-height: 1;
    font-style: normal;
    padding-bottom: 4px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .menu-list {
    flex-wrap: wrap;
}

.footer .item-link {
    padding: 14px;
}

.footer .footer-item:last-of-type .item-link:last-of-type {
    padding-right: 0;
}

.top-footer {
    border-bottom: 1px solid #EFEFEF;
}

.copyright {
    font-size: 12px;
    color: #8F8F8F;
}

.copyright-info {
    margin: 17px 0;
}

@media screen and ( max-width: 1200px ) { 
    .reviews-container {
        margin-left: 0;
        padding-left: 15px;
    }
}

@media screen and ( max-width: 960px ) {
    .container {
        padding: 0 45px;
    }

    .contacts {
        justify-content: flex-start;
    }

    .map-content {
        max-width: 53%;
    }

    .contacts {
        max-width: 47%;
    }

    .advantages-card {
        width: calc( ( 100% - 30px ) / 2 );
        min-height: 285px;
    }

    .slider-content {
        max-width: 345px;
        padding: 30px 35px 40px 27px;
        transform: translateX(-20px);
    }

    .slider-image {
        height: 326px;
        width: 65%;
    }
}

@media screen and ( max-width: 768px ) {
    .container {
        padding: 0 45px;
    }

    .banner {
        padding: 136px 0 530px;
        background-image: url("../images/bg.png");
    }

    .banner-content {
        text-align: center;
        padding-left: 0
    }

    .banner-location {
        margin-bottom: 2px;
    }

    .banner-info {
        margin-bottom: 34px;
    }

    .button-white {
        margin-left: auto;
        margin-right: auto;
    }

    .contacts {
        max-width: 48%;
        padding: 47px 0 59px;
    }

    .contact-title {
        margin-bottom: 29px;
    }

    .address {
        padding-bottom: 2px;
        font-size: 15px;
    }

    .contact-link {
        padding-bottom: 0px;
    }

    .schedule {
        padding-bottom: 1px;
    }

    .map-content {
        max-width: 52%;
    }

    .advantages-card {
        padding: 25px 25px 20px;
        margin-top: 29px;
    }

    .advantages-title {
        margin-bottom: 23px;
    }

    .advantages {
        background-position: 115% 25px;
        background-size: 320px 260px;
        padding: 88px 0 60px;
    }

    .rooms {
        background-size: 339px 105px;
        background-position: 0px 74px;
        padding: 47px 0 46px;
    }

    .slick-dotted.slick-slider {
        margin-bottom: 43px;
    }

    .slick-dots li {
        margin: 0 3px 0 0;
    }

    .reviews {
        background-size: 227px 194px;
        background-position: 100% 0px;
        padding: 55px 0 70px;
    }

    .reviews-title {
        margin-bottom: 31px;
    }

    .reviews-container {
        padding-left: 45px;
    }

    .reviews-card {
        padding: 32px 32px 30px 70px;
    }

    .review-info {
        padding-top: 6px;
    }

    .about-us {
        margin-top: 45px;
    }

    .wrapper-slider {
        padding-bottom: 10px;
    }

    .slick-dots {
        bottom: -50px;
    }

    .reviews .slick-dots {
        bottom: -50px;
    }

    .card-image {
        width: 75px;
        height: 75px;
        margin-bottom: 18px;
    }

    .card-title {
        font-size: 20px;
    }

    .card-info {
        font-size: 15px;
    }

    div.scroll {
        display: none !important;
    }

    .reviews .slick-initialized .slick-slide {
        max-width: 442px;
    }

    .contact-small-title {
        font-size: 15px;
        margin: 24px 0 12px;
    }

    .footer-container {
        padding: 0 15px;
    }

    .slider-card {
        height: 326px;
    }

    .slider-list {
        padding: 0px 0 25px;
    }

    .slider-list-item::before {
        width: 11px;
        height: 11px;
        top: 12px;
    }

    .slider-list-item {
        padding-top: 7px;
        padding-left: 19px;
    }

    .slider-content {
        max-width: 345px;
        padding: 30px 38px 40px 40px;
        transform: translateX(0px);
    }

    .rooms-container {
        padding: 0 20px 0 20px;
    }

    .rooms-wrapper {
        padding: 0;
    }

    .rooms-container .main-title {
        margin: 5px 0 20px;
    }

    .rooms .card-title {
        margin-bottom: 9px;
    }

    .footer-container {
        padding: 0 45px;
    }

    .rooms .slick-initialized .slick-slide {
        margin: 0 25px;
    }
}

@media screen and (max-width: 600px) {
    .about-us {
        display: block;
    }

    .contacts {
        max-width: 100%;
        padding: 28px 0 338px;
    }

    .map-content {
        max-width: 100%;
        height: 300px;
        top: auto;
    }
}

@media screen and ( max-width: 576px ) { 
    .container {
        padding: 0 15px;
    }

    .footer-container {
        padding: 0 15px;
    }

    .logo-icon {
        width: 46px;
        height: 38px;
    }

    .burger-menu {
        display: block;
    }

    .header .main-menu {
        display: none;
    }

    .banner {
        padding: 47px 0 230px;
    }

    .banner-location {
        font-size: 12px;
        margin-bottom: 2px;
    }
    .banner-title {
        font-size: 44px;
    }
    .banner-info {
        font-size: 16px;
        margin-bottom: 36px;
    }

    .card-image {
        width: 60px;
        height: 60px;
    }

    .card-title {
        font-size: 18px;
    }

    .main-title {
        font-size: 28px;
    }

    .card-title {
        margin-bottom: 10px;
    }

    .footer-content {
        display: block;
    }

    .footer-item {
        display: flex;
        flex-direction: column;
    }

    .footer .menu-list {
        display: block;
        column-count: 2;
        padding-bottom: 25px;
        padding-top: 7px;
    }

    .copyright {
        display: block;
    }

    .copyright-info {
        padding: 12px 0;
        margin: 0;
    }

    .copyright-info:last-of-type {
        padding: 3px 0 27px;
    }

    .slick-dots {
        bottom: -30px;
    }

    .reviews .slick-dots {
        bottom: -30px;
    }

    .advantages-title {
        margin-bottom: 35px;
    }

    .reviews-title {
        margin-bottom: 27px;
    }

    .main-title {
        margin-bottom: 40px;
    }

    .rooms .box-shadow {
        border-radius: 0 0 8px 8px;
    }

    .slider-card {
        padding-right: 0;
        height: auto;
    }

    .rooms .slick-initialized .slick-slide {
        position: static;
        display: block;
        margin: 0 0 23px;
    }

    .slider-image {
        min-height: 192px;
        height: 100%;
        border-radius: 10px 10px 0 0;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        min-width: 290px;
    }

    .slider-content {
        position: static;
        padding: 18px 22px 25px 25px;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        min-width: 290px;
    }

    .card-content::before {
        left: -31px;
        font-size: 58px;
    }

    .slider-list {
        padding: 0px 0 19px;
    }

    .footer .item-link {
        padding: 11px 42px 0 0;
    }
}

@media screen and ( max-width: 500px ) { 
    .advantages-card {
        width: 100%;
        min-height: 206px;
    }

    .card-image {
        margin-bottom: 20px;
    }

    .about-us {
        margin-top: 30px;
    }

    .advantages-card {
        padding: 25px 11px 20px 25px;
    }

    .advantages-content {
        justify-content: center;
    }

    .reviews .slick-initialized .slick-slide {
        max-width: 290px;
    }

    .advantages {
        background: url("../images/paw-bg.svg") no-repeat 100% 54px;
        background-size: 116px 99px;
        padding: 41px 0 35px;
    }

    .advantages-title {
        margin-bottom: 25px;
    }

    .rooms {
        background-size: 150px 46px;
        background-position: 0px 65px;
        padding: 26px 0 35px;
    }

    .card-info:last-of-type .contact-small-title {
        margin-bottom: 14px;
        margin-top: 25px;
    }
    
    .contact-link {
        padding-bottom: 1px;
    }

    .contact-small-title {
        margin: 24px 0 11px;
    }

    .reviews {
        background-size: 112px 95px;
        background-position: 105% 21px;
        padding: 19px 0 35px;
    }

    .reviews-container {
        padding-left: 15px;
    }

    .reviews-title {
        margin-bottom: 17px;
    }

    .main-title {
        margin-bottom: 5px;
    }

    .top-footer {
        padding: 30px 0 0;
    }

    .footer-item:last-of-type {
        margin-left: -22px;
    }

    .footer-item:nth-last-child(2) {
        margin-left: -22px;
    }

    .rooms-container .main-title {
        margin: 5px 0 48px;
    }

    .card-info:first-of-type .contact-small-title {
        margin: 32px 0 12px;
    }

    .slick-dotted.slick-slider {
        margin-bottom: 0;
    }

    .reviews-card {
        padding: 21px 21px 21px 56px;
    }

    .wrapper-slider {
        padding-bottom: 0px;
    }

    .reviews .slick-initialized .slick-slide {
        margin: 28px 30px 20px 0;
    }

    .reviews .slick-dotted.slick-slider {
        margin-bottom: 2px;
    }

    .review-info {
        display: none;
    }

    .button-orange {
        padding: 0px 7px 0 46px;
    }

    .button-orange .button-content {
        padding-right: 34px;
    }
}